body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Helvetica Neue Light";
}

@font-face {
	font-family: "Helvetica Neue Light";
	src: url("../FONTS/HELVETICANEUELTW1G-LT.OTF") format("opentype");
}

@font-face {
	font-family: "Helvetica Neue Medium";
	src: url("../FONTS/HELVETICANEUELTW1G-MD.OTF") format("opentype");
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
    background-color: #3a3a3a;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 10px;
    border: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0;
  }