.SUCCESS-MESSAGE,
.ERROR-MESSAGE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 30%;
  min-width: 300px;
  max-width: 600px;
  padding: 15px 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.1em;
  margin-bottom: 10px;
  display: block;
}

.SUCCESS-MESSAGE {
  background-color: var(--green);
}

.ERROR-MESSAGE {
  background-color: var(--dark-grey);
}

.LOGIN-SUCCESS-MESSAGE,
.LOGIN-ERROR-MESSAGE {
  color: white;
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  text-align: center;
}


.LOGIN-SUCCESS-MESSAGE {
  background-color: var(--green);
}

.LOGIN-ERROR-MESSAGE {
  background-color: var(--dark-grey);
}