<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         stopOnFailure="false">

    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
    </php>
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./UNITTESTING</directory>
        </testsuite>
    </testsuites>
</phpunit>