.DROPDOWN-GROUP {
    text-align: left;
    padding: 0rem;
    padding-left: 0;
    border: none;
    opacity: 0.2;
    font-size: 1rem;
  }

  .DROPDOWN-GROUP-2 {
    width:350px;
  }

  .DROPDOWN-GROUP-3 {
    text-align: left;
    padding: 0rem;
    padding-left: 0;
    border: none;
    opacity: 0.8;
    font-size: 0.9rem;
  }
  
  
  .select2-container--default .select2-selection--multiple {
    position: relative;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__rendered:empty::before {
    content: "Select one or more users";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark-grey);
    pointer-events: none;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0.4;
  }
  
  .select2-container--default .select2-selection--multiple {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 !important;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--green) !important;
    border: none !important;
    border-radius: 20px !important;
    font-size: 0.9rem !important;
    display: inline-block !important;
    line-height: 1.4 !important;
    color: white !important;
  }
  