/* DASH SECTION */
.DASH-CONTENT {
  width: 100%;
  height: 400px;
}

.DASH-AREA {
  height: 100%;
  background-color: var(--light-grey);
  padding: 16px;
  padding-left: 0%;
  padding-right: 0%;
}

.DASH-HEADER {
  height: 40px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid var(--off-white);
  padding-top: 2px;
  padding-left: 15px;
  padding-bottom: 0px;
}

.DASH-HEADER-1 {
  font-family: "Helvetica Neue Medium";
  font-size: 1rem;
  color: var(--black);
}

.DASH-HEADER-2 {
  font-family: "Helvetica Neue Light";
  font-size: 1rem;
  color: var(--dark-grey);
  padding-left: 7px;
  opacity: 0.6;
}
/* DASH SECTION END */
/* MIDDLE SECTION END */