/* DASH SECTION */
.DASH-CONTENT {
  width: 100%;
  height: 700px;
}

.DASH-AREA {
  height: 100%;
  background-color: var(--light-grey);
  padding: 16px;
  padding-left: 0%;
  padding-right: 0%;
}

.DASH-HEADER {
  height: 40px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid var(--off-white);
  padding-top: 2px;
  padding-left: 15px;
  padding-bottom: 0px;
}

.DASH-HEADER-1 {
  font-family: "Helvetica Neue Medium";
  font-size: 1rem;
  color: var(--black);
}

.DASH-HEADER-2 {
  font-family: "Helvetica Neue Light";
  font-size: 1rem;
  color: var(--dark-grey);
  padding-left: 7px;
  opacity: 0.6;
}

.DASH-SECTION-CONTAINER {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.DASH-SECTION-1, .DASH-SECTION-2, .DASH-SECTION-3 {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 1vw;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.DASH-SECTION-1 {
  width: 60%;
  height: 50vh;
}

.DASH-SECTION-2 {
  width: 30%;
  height: 50vh;
}

.DASH-SECTION-3 {
  display: block;
  width: 100%;
  height: 50vh;
}

/* DASH SECTION END */
/* MIDDLE SECTION END */
