/* MIDDLE SECTION */
.MIDDLE-SECTION {
  width: 100%;
  height: 100%;
  top: 75px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MIDDLE-SECTION {
  position: absolute;
  background-color: white;
  z-index: 1;
}

.MIDDLE-HERO-IMAGE {
  position: absolute;
  background-image: url(../IMAGES/BG.jpg);
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(50%);
}

/* VIEW TASK BOX */
.VIEW-TASK-CONTAINER {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.VIEW-TASK-BOX {
  background: #fff;
  border-radius: 20px;
  padding: 2rem;
  width: 800px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.VIEW-TASK-BOX h1 {
  margin: 0;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--dark-grey);
}

.VIEW-TASK-BOX p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--dark-grey);
  opacity: 0.8;
}

.TASK-CONTENT {
  width: 100%;
}

/* TASK SECTION */
.VIEW-ROW {
  display: flex;
  gap: 20px;
  margin-bottom: 3rem;
}

.VIEW-COLUMN {
  flex: 1;
  min-width: 200px;
}

.VIEW-COLUMN h1 {
  display: inline-block;
  font-size: 1rem;
  color: var(--dark-grey);
}

.VIEW-COLUMN h2 {
	font-family: "Helvetica Neue Light";
  font-size: 0.6rem;
  color: var(--dark-grey);
  opacity: 0.3;
}

.INPUT-GROUP {
  width: 80%;
  margin: 0 auto;
  padding: 0.3rem;
  border: 1px solid var(--off-white);
  border-radius: 20px;
}

.INPUT-GROUP input {
  text-align: center;
  padding-top: 0.2rem;
  transform: translateX(-0.3rem);
  width: 100%;
  font-size: 1rem;
  border: none;
  opacity: 0.3;
  outline: none;
}

.INPUT-GROUP:hover {
  opacity: 1;
}

/* DROPDOWN BOX */
.DROPDOWN-GROUP {
  display:block;
  padding: 0.1rem;
  padding-left: 0rem; 
  transform: translateX(8rem);
  border: none;
  opacity: 0.2;
  font-size: 1rem;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
}

.select2-search__field {
  opacity: 0.2;
  padding: 0;
  transform: translateX(-5px);
}
/* DROPDOWN BOX END*/

.TASK-LABEL {
  display: inline-block;
  margin-bottom: 0.6rem;
  color: var(--dark-grey);
}

.DESCRIPTION-LABEL {
  padding-top: 1rem;
  display: flex;
}

.INFO-ICON {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border: none;
  opacity: 0.3;
}

.TASK-TEXT-AREA {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid var(--light-gray);
  border-radius: 25px;
  color: var(--dark-grey);
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* PILL */
.TASK-PILL-CONTAINER {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.PILL button {
  display: inline-block;
  padding: 4px 35px;
  border: none;
  border-radius: 12px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  cursor: default;
  user-select: none;
}

.PILL-ACTIVE {
  opacity: 1;
}

.PILL-INACTIVE {
  opacity: 0.3;
}

.PILL-NEW {
  background-color: var(--blue);
}
.PILL-IN-PROGRESS {
  background-color: orange;
}
.PILL-COMPLETE {
  background-color: var(--green);
}

.PILL-URGENT {
  background-color: red;
}
.PILL-MODERATE {
  background-color: orange;
}
.PILL-LOW {
  background-color: var(--green);
}

/* PILL END */

.ASSIGNED-ROW {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.ASSIGNED-INFO {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.ASSIGNED-LABEL {
  color: #555;
}

.ASSIGNED-LABEL-2 {
  color: #555;
  font-family: "Helvetica Neue Medium";
}

.ADD-MORE-STAFF {
  color: var(--blue);
  cursor: pointer;
}

.TASK-BUTTONS {
  display: block;
  gap: 10px;
}

.TASK-BUTTONS button {
  padding: 10px 45px;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.TASK-BUTTONS button:hover {
  background-color: var(--dark-grey);
}

.UPDATE-BUTTON {
  background-color: var(--blue);
}

.CANCEL-BUTTON {
  background-color: var(--light-grey);
}

.VIEW-LOGS-BUTTON {
  background-color: var(--green);
}


/* TASK SECTION END */
/* MIDDLE SECTION END */